.float {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
}

/* ************************370 LAYOUT************************************************** */
.side {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}

.side-by {

    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;
}

/* ************************371 LAYOUT************************************************** */
body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}

.cle {
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #ffd900;
}

.clear {
    clear: left;
}

/* ************************371 LAYOUT************************************************** */