body {
    background-color: darkgreen;
    margin: 5px;
    padding: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

.container {
    margin: auto;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    border: solid black 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6),
        -3px -3px 8px rgba(0, 0, 0, 0.6),
        3px -3px 8px rgba(0, 0, 0, 0.6),
        -3px 3px 8px rgba(0, 0, 0, 0.6);
}



.white-box {
    background-color: orange;
    border: solid black 2px;
    height: 150px;
    width: 150px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6),
        -3px -3px 8px rgba(0, 0, 0, 0.6),
        3px -3px 8px rgba(0, 0, 0, 0.6),
        -3px 3px 8px rgba(0, 0, 0, 0.6);

}

.black-box {
    height: 150px;
    width: 150px;
    background-color: darkred;
    border: solid black 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6),
        -3px -3px 8px rgba(0, 0, 0, 0.6),
        3px -3px 8px rgba(0, 0, 0, 0.6),
        -3px 3px 8px rgba(0, 0, 0, 0.6);
}
