body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  background-color: white;
  background-image: url(background.jpg);
  text-align: center;
  line-height: 2.5;
}

.title {
  font-size: 35px;
  text-shadow: -5px 1px 25px rgb(0, 162, 157);
}

.assignmentOne {
  color: white;
  text-shadow: -5px 1px 25px rgb(4, 255, 0);
  font-weight: 700;
  font-size: 30px;
}

span {
  font-weight: 700;
}
.live {
  color: red;
  font-weight: 700;
}
a {
  /* text-shadow: -1px 2px 20px rgb(0, 255, 255); */
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 18px 5px 18px;
  text-align: center;
  margin: auto;
  padding: auto;
  /* added this line */
}

a > b {
  color: aqua;
}

a:hover,
a.on {
  color: white;
  /* font-size: 20px; */
  font-weight: 800;
  border-radius: 20px;
  background: rgb(1, 22, 25);
  background: linear-gradient(103deg, rgb(11, 126, 0) 0%, rgb(0, 111, 111) 99%);
}

h1 {
  color: aqua;
  margin: 10px;
  padding: 10px;
}

h2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
}

.assignment {
  text-shadow: -5px 1px 25px rgb(0, 255, 255);
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}

.htmlone {
  color: orangered;
  font-weight: 700;
  font-size: 30px;
}

.html {
  text-shadow: -5px 1px 25px orangered;
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}

.cssone {
  color: aqua;
  font-weight: 700;
  font-size: 30px;
}

.css {
  text-shadow: -5px 1px 25px blue;
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}

.JavaScriptOne {
  /* color: yellow; */
  font-weight: 700;
  font-size: 30px;
}

.java-script > a > i {
  text-shadow: -5px 1px 25px rgb(152, 152, 0);
}

.java-script {
  text-shadow: -5px 1px 25px rgb(136, 163, 0);
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}
.JS_ES6_Feacher > a > i {
  text-shadow: -2px 1px 20px goldenrod;
}
.JavaScriptOne {
  color: yellow;
}

.JS_ES6_Feacher {
  text-shadow: -2px 1px 20px goldenrod;
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}

.tsone {
  color: rgb(0, 106, 255);
  font-weight: 700;
  font-size: 30px;
}

.ts > a > b {
  color: aqua;
  text-shadow: -2px 1px 20px blue;
}

.ts {
  color: white;
  border: 2px solid black;
  text-shadow: -5px 1px 25px rgb(0, 0, 121);
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}

.fbone {
  color: goldenrod;
  font-weight: 700;
  font-size: 30px;
}

.fb > a > b {
  color: goldenrod;
}

.fb {
  color: white;
  /* border: 2px solid black; */
  text-shadow: -2px 1px 15px red;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    103deg,
    rgba(1, 22, 25, 1) 0%,
    rgba(0, 6, 6, 1) 99%
  );
}
