body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0, 46, 44);
  background: radial-gradient(circle, rgb(0, 52, 50) 0%, rgb(0, 123, 101) 100%);
  color: white;
  text-shadow: -2px 1px 15px yellow;
  box-shadow: -2px 1px 15px yellow;
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
  padding: 5px;
}
