body {
  margin: 0px;
  padding: 0px;
  background-color: darkgray;
}

.block {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 400px;
  background: linear-gradient(0deg, black, gray);
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -8px;
  top: -9px;
  background: linear-gradient(
    90deg,
    #ca2639,
    /* Dark Bright Pink */ #ff3737,
    /* Dark Bright Orange */ #ffff33,
    /* Dark Bright Yellow */ #33cc33,
    /* Dark Bright Green */ #3333ff,
    /* Dark Bright Blue */ #7a288a /* Dark Bright Purple */
  );
  background-size: 400%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: -1;
  animation: animate 20s linear infinite;

  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.glow::after {
  filter: blur(40px);
}
