Copy code nav {
  background-color: #ffffff; /* bg-white */
  border-color: #e5e7eb; /* border-gray-200 */
}

nav.dark {
  background-color: #212529; /* dark:bg-gray-900 */
}

nav > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px; /* max-w-screen-xl */
  padding: 1rem; /* p-4 */
}

nav > div > a {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* space-x-3 */
  direction: rtl; /* rtl:space-x-reverse */
}

nav > div > a > img {
  height: 2rem; /* h-8 */
}

nav > div > a > span {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  white-space: nowrap;
  color: #ffffff; /* dark:text-white */
}

nav > div > a + a {
  font-size: 1rem; /* text-sm */
  color: #6b7280; /* text-gray-500 */
  text-decoration: none;
}

nav > div > a + a:hover {
  text-decoration: underline;
}

nav > div > div {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* space-x-6 */
  direction: rtl; /* rtl:space-x-reverse */
}

form#product_form {
  max-width: 28rem; /* max-w-md */
  margin: 0 auto;
}

form#product_form > div {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 1.25rem; /* mb-5 */
}

form#product_form > div > input {
  display: block;
  padding: 0.625rem; /* py-2.5 */
  padding-left: 0;
  width: 100%;
  font-size: 0.875rem; /* text-sm */
  color: #212529; /* text-gray-900 */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e5e7eb; /* border-gray-300 */
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form#product_form > div > input:focus {
  outline: none;
  ring-color: #3498db; /* focus:ring-blue-600 */
  border-color: #3498db; /* focus:border-blue-600 */
}

form#product_form > div > label {
  position: absolute;
  top: 0.75rem; /* top-3 */
  left: 0;
  font-size: 0.875rem; /* text-sm */
  color: #6b7280; /* text-gray-500 */
  transition: font-size 0.15s ease-in-out, color 0.15s ease-in-out;
}

form#product_form > div > label.peer-focus {
  font-size: 1rem; /* peer-focus:font-medium */
  color: #3498db; /* peer-focus:text-blue-600 */
}

form#product_form > div.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem; /* md:gap-6 */
}

form#product_form > button[type="submit"] {
  display: flex;
  gap: 0.5rem; /* gap-2 */
  color: #ffffff; /* text-white */
  background-color: #3498db; /* bg-blue-700 */
  padding: 0.625rem 1.25rem; /* py-2.5 px-5 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.15s ease-in-out;
}

form#product_form > button[type="submit"]:hover {
  background-color: #2987c9; /* hover:bg-blue-800 */
}

form#product_form > button[type="submit"] > div#loader {
  display: none;
}

form#product_form > button[type="submit"] > div#loader svg {
  width: 1rem; /* w-4 */
  height: 1rem; /* h-4 */
  color: #6b7280; /* text-gray-200 */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark form#product_form > button[type="submit"] {
  background-color: #2987c9; /* dark:bg-blue-600 */
}

.dark form#product_form > button[type="submit"]:hover {
  background-color: #3498db; /* dark:hover:bg-blue-700 */
}

.dark form#product_form > button[type="submit"] > div#loader svg {
  color: #b5b5b5; /* dark:text-gray-600 */
}
