body {
    background-color: black;
}


h1 {
    color: aqua;
    background-color: darkolivegreen;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}