body {
  background: rgb(41, 24, 11);
  background: linear-gradient(
    89deg,
    rgba(41, 24, 11, 1) 0%,
    rgba(43, 53, 25, 1) 98%
  );
  font-size: 88px;
  color: black;
  justify-content: center;
  text-shadow: 5px 5px 10px rgb(0, 255, 200);
  /* transform: translateX(-50%) translateY(-50%); */
  font-size: 60px;
  letter-spacing: 2px;
  font-size: 100px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.clock {
  font-size: 88px;
  color: black;
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 10px rgb(238, 255, 0);
  /* transform: translateX(-50%) translateY(-50%); */
  font-size: 60px;
  letter-spacing: 2px;
  font-size: 100px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
