* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(./image/background.jpg);
  background-size: cover; /* scales the image to cover the entire element, while maintaining its aspect ratio */
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(48, 2, 48);
}

.container {
  width: 375px;
  margin: auto;
  padding: 30px 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: -1px 5px 15px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.541);
  box-shadow: -1px 2px 30px rgb(2, 96, 7);
}

#display-screen {
  width: 100%;
  background-color: rgba(255, 0, 247, 0.187);
  padding: 15px 15px;
  font-size: 40px;
  font-weight: 300;
  color: white;
  text-align: right;
  border-radius: 30px;
  overflow-x: hidden;
  /* border: 2px solid red; */
}

.button-container {
  width: 100%;
  padding: 15px 0px;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

#change,
#btn-zero {
  color: white;
  background: rgba(0, 0, 0, 0.242);
  box-shadow: -1px 5px 15px rgb(255, 0, 0);
  border: none;
}
.cal-btn {
  width: 70px;
  height: 70px;
  font-size: 24px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.242);
  color: white;
  box-shadow: -1px 5px 15px rgb(47, 0, 255);
  border: none;
  border-radius: 30px;
}

#btn-zero {
  width: 160px;
}
