<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Practice</title>
</head>

<body>
    <div>
        <h2 class="nor">position:static</h2>
        <p class="normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe delectus voluptates dolore
            obcaecati? Ullam et
            quae natus obcaecati sed alias eius dolor odio ea ipsum, aliquam, cum, ex dolore corporis.</p>
        <p class="normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe delectus voluptates dolore
            obcaecati? Ullam et
            quae natus obcaecati sed alias eius dolor odio ea ipsum, aliquam, cum, ex dolore corporis.</p>
        <p class="normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe delectus voluptates dolore
            obcaecati? Ullam et
            quae natus obcaecati sed alias eius dolor odio ea ipsum, aliquam, cum, ex dolore corporis.</p>
    </div>
    <!-- ********************** 365 LAYOUT **************************************************** -->
    <hr><br>
    <hr>
    <div>
        <h2>position:relative</h2>
        <p class="relative">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, nostrum? Laborum inventore
            labore iure dolorem illo dolore quo, laboriosam perferendis, consectetur autem minima corrupti corporis
            asperiores id beatae, tempora esse?</p>
        <p class="relative">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, nostrum? Laborum inventore
            labore iure dolorem illo dolore quo, laboriosam perferendis, consectetur autem minima corrupti corporis
            asperiores id beatae, tempora esse?</p>
        <p class="relative">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, nostrum? Laborum inventore
            labore iure dolorem illo dolore quo, laboriosam perferendis, consectetur autem minima corrupti corporis
            asperiores id beatae, tempora esse?</p>
    </div>
    <!-- ********************** 366 LAYOUT **************************************************** -->
    <hr><br>
    <hr>
    <div>
        <h2 class="abs">position:absolute</h2>
        <p class="absolute">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium voluptates
            alias, voluptatem quidem dolor ipsa sapiente sit error vero aliquam minus commodi explicabo rem illum dicta
            iusto. Rerum, fugiat?</p>
        <p class="absolute">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium voluptates
            alias, voluptatem quidem dolor ipsa sapiente sit error vero aliquam minus commodi explicabo rem illum dicta
            iusto. Rerum, fugiat?</p>
        <p class="absolute">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium voluptates
            alias, voluptatem quidem dolor ipsa sapiente sit error vero aliquam minus commodi explicabo rem illum dicta
            iusto. Rerum, fugiat?</p>
    </div>
    <hr><br>
    <hr>
    <div>
        <h2 class="fix">position:fixed</h2>
        <p class="fixed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deserunt illo laboriosam
            veritatis ea consequatur tempore labore, nobis eum quia recusandae adipisci quibusdam. Reiciendis eligendi
            iusto quaerat, alias nobis expedita!</p>
        <p class="fixed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deserunt illo laboriosam
            veritatis ea consequatur tempore labore, nobis eum quia recusandae adipisci quibusdam. Reiciendis eligendi
            iusto quaerat, alias nobis expedita!</p>
        <p class="fixed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deserunt illo laboriosam
            veritatis ea consequatur tempore labore, nobis eum quia recusandae adipisci quibusdam. Reiciendis eligendi
            iusto quaerat, alias nobis expedita!</p>
    </div>
    <hr><br>
    <hr>
    <div>
        <h2 class="z">Overlapping Elements</h2>
        <p class="z-index"><b><i> I can Overlap any Elements</i></b> adipisicing elit. Voluptates deserunt illo
            laboriosam
            veritatis ea consequatur tempore labore, nobis eum quia recusandae adipisci quibusdam. Reiciendis eligendi
            iusto quaerat, alias nobis expedita!</p>
        <p class="z-index"><b><i> I can Overlap any Elements</i></b> adipisicing elit. Voluptates deserunt illo
            laboriosam
            veritatis ea consequatur tempore labore, nobis eum quia recusandae adipisci quibusdam. Reiciendis eligendi
            iusto quaerat, alias nobis expedita!</p>
        <p class="z-index"><b><i> I can Overlap any Elements</i></b> adipisicing elit. Voluptates deserunt illo
            laboriosam
            veritatis ea consequatur tempore labore, nobis eum quia recusandae adipisci quibusdam. Reiciendis eligendi
            iusto quaerat, alias nobis expedita!</p>
    </div>
    <hr><br>
    <hr>
</body>

</html>