body {
    background-image: url(background.jpg);
    margin: 10px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgb(255, 176, 0);
    background: linear-gradient(161deg, rgba(255, 176, 0, 1) 0%, rgba(255, 0, 128, 1) 40%, rgba(172, 0, 255, 1) 60%, rgba(112, 0, 255, 1) 100%);
    /* Set your desired background color */
    margin-left: -10px;
    padding: 10px;
    /* Adjust padding as needed */
    justify-content: flex-end;
    border-radius: 30px;
    box-shadow: 0 2px 10px darkviolet;


}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    /* Set your desired text color */
    text-decoration: none;
    padding: 10px;
    /* Adjust padding as needed */
}

/* *************************** Navbar  ************************************************* */

.headline {
    color: aliceblue;
    margin-left: -3px;
    margin-top: -500px;
    justify-content: center;
    display: inline-flexbox;
    text-align: left;
    align-items: center;
    padding: auto;
    width: 400px;

}

.container {
    margin-left: 900px;
    margin-top: 45px;
    text-align: center;
    /* background-color:; */
    border-radius: 30px;
    box-shadow: 0 2px 10px darkviolet;
    color: aliceblue;
    border: 2px solid black;
    background: rgb(255, 176, 0);
    background: linear-gradient(161deg, rgba(255, 176, 0, 1) 0%, rgba(255, 0, 128, 1) 40%, rgba(172, 0, 255, 1) 60%, rgba(112, 0, 255, 1) 100%);
    width: 400px;
    height: 500px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

}

.form {
    padding: 30px 40px
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

#form {
    display: inline-block;
    justify-content: space-around;
    width: 50%;
    height: 10%;
}

#username {
    margin: 5px;
    padding: 5px;
}

#email {
    margin: 5px;
    padding: 5px;
}

#password {
    margin: 5px;
    padding: 5px;
}

#password2 {
    display: inline;
    margin: 5px;
    padding: 5px;
}



button {
    /* border: 5px solid darkviolet; */
    box-shadow: 0 2px 10px linear-gradient(306deg, rgba(252, 76, 42, 1) 0%, rgba(161, 249, 255, 1) 0%, rgba(131, 58, 180, 1) 60%, rgba(253, 29, 29, 1) 100%);
    ;
    cursor: pointer;
    background: rgb(255, 176, 0);
    background: linear-gradient(161deg, rgba(255, 176, 0, 1) 0%, rgba(255, 0, 128, 1) 40%, rgba(172, 0, 255, 1) 60%, rgba(112, 0, 255, 1) 100%);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}


/* ************************************************************************* */
@media screen and (max-width:1800px) {


    .container {
        margin-left: 900px;
        margin-top: 45px;
        text-align: center;
        /* background-color:; */
        border-radius: 5px;
        box-shadow: 0 2px 10px darkviolet;
        color: aliceblue;
        border: 2px solid black;
        width: 400px;
        height: 500px;
    }

    .headline>h3 {
        font-weight: bold;
        font-size: large;
        margin-left: -3px;
        margin-top: -500px;
    }

    button {
        box-shadow: 0 2px 10px darkviolet;
        cursor: pointer;
        background: rgb(255, 176, 0);
        background: linear-gradient(161deg, rgba(255, 176, 0, 1) 0%, rgba(255, 0, 128, 1) 40%, rgba(172, 0, 255, 1) 60%, rgba(112, 0, 255, 1) 100%);
        border: 2px solid linear-gradient(306deg, rgba(252, 76, 42, 1) 0%, rgba(161, 249, 255, 1) 0%, rgba(131, 58, 180, 1) 60%, rgba(253, 29, 29, 1) 100%);
        ;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        display: block;
        font-size: 16px;
        margin-left: 15px;
        margin-top: 20px;
        padding: 10px;
        width: 100%;

    }


}




@media screen and (max-width:900px) {

    .container {
        margin-left: 230px;
        margin-top: 45px;
        text-align: center;
        /* background-color:; */
        border-radius: 5px;
        box-shadow: 0 2px 10px darkviolet;
        color: aliceblue;
        border: 2px solid black;
        width: 400px;
        height: 500px;
    }

    .headline>h3 {
        font-weight: bold;
        font-size: large;
        margin-left: -200px;
        margin-top: -500px;
    }

    button {
        box-shadow: 0 2px 10px darkviolet;
        cursor: pointer;
        background: rgb(255, 176, 0);
        background: linear-gradient(161deg, rgba(255, 176, 0, 1) 0%, rgba(255, 0, 128, 1) 40%, rgba(172, 0, 255, 1) 60%, rgba(112, 0, 255, 1) 100%);
        border: 2px solid linear-gradient(306deg, rgba(252, 76, 42, 1) 0%, rgba(161, 249, 255, 1) 0%, rgba(131, 58, 180, 1) 60%, rgba(253, 29, 29, 1) 100%);
        ;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        display: block;
        font-size: 16px;
        margin-left: 15px;
        margin-top: 20px;
        padding: 10px;
        width: 100%;

    }


}