body {
  /* padding: 10px; */
  /* margin: 0; */
  background-image: url("./image/store-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-color: #f7f7f7;
  color: black;
} /* background-color: gray; */

.black {
  position: relative;
  /* margin: 10% auto 0; */
  width: 120px;
  height: 40px;
  padding: 2px;
  margin: auto;
  text-align: center;
  color: white;
  background: linear-gradient(0deg, rgb(54, 54, 54), black);
}
.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(
    45deg,
    yellow,
    orangered,
    rgb(0, 255, 98),
    aqua,
    rgb(255, 83, 229),
    rgb(255, 0, 217),
    rgb(90, 0, 132),
    rgb(255, 64, 0),
    rgb(0, 140, 255)
  );
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 10px;
  z-index: -1;
  animation: animate 20s linear infinite;
}

.glow::after {
  filter: blur(20px);
  /* opacity: 0.99; */
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
