p.one {
    border-width: 2px;
    border: 5px solid darkorange;
}

p.two {
    border-width: thick;
    border: 5px solid darkgreen;

}

p.three {
    border-width: 1px 4px 12px 4px;
    border: 5px solid darkorchid;

}