* {
    background-color: lightslategray;
}

p.one {
    border-width: 1px;
    border-style: solid;
}

p.two {
    border-width: thick;
    border-style: solid;

}

p.three {
    border-top-width: 1px 4px 12px 4px;
    border-style: solid;
}

/* *********************************************************************** */

p.A {
    border-style: solid;
}

p.B {
    border-style: dotted;
}

p.C {
    border-style: dashed;
}

p.D {
    border-style: double;
}

p.E {
    border-style: groove;
}

p.F {
    border-style: ridge;
}

p.G {
    border-style: inset;
}

p.H {
    border-style: outset;
}

/* *********************************************************************** */


p.ab {
    border-color: #0088dd;
    border-style: solid;
}

p.cd {
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
    border-style: solid;

}