/* Apply a white background to all elements */
* {
    background-color: lightgrey;
}

/* Styles for the logo */
.logo {
    background-color: rgba(0, 0, 0, 0.3);
    color: #16a085;
    text-align: center;
    padding: 10px;
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
    border-radius: 30px;
    width: 100px;
    border: 10px solid #16a085;
}

/* Styles for tables, th, and td */
table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%; /* Adjusted to full width */
}

th,
td {
    border: 5px solid lightgreen;
    padding: 10px;
    text-align: center; /* Center content within cells */
}

/* Styles for specific td and th */
td {
    background-color: lightgray;
}

th {
    background-color: lightgray;
}

/* Styles for h2 headings */
h2 {
    color: white;
    background-color: black;
    border: 5px solid black;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

/* Styles for paragraphs */
p {
    width: 100%; /* Adjusted to full width */
    margin: 10px 0; /* Adjusted margin for better spacing */
    padding: 10px;
    border-radius: 10px;
}
