 body {
     background-color: yellow;
 }

 :root {
     --white: #fff;
 }

 .navbar {
     background-color: var(--white) !important;
     padding: 100px 0px 50px;
     border: 5px solid greenyellow;

 }

 .nav-links {
     max-width: 550px;
     display: flex;
     justify-content: flex-end;

 }

 .navbar-nav {
     gap: 30px;
     background-color: lightcyan;
     border-radius: 30px;
     font-weight: 500;
 }

 .nav-link>a {
     font-size: 17.16px;
     line-height: 21px;
     border-radius: 6px;
     text-transform: capitalize;
 }

 .action-btn a {
     width: 150px;
     background-color: #75BF7A;
     /*TODO: make variable */
     padding: 10px 20px;
     box-sizing: border-box;
     color: white;
     text-align: center;
     font-weight: 600;
     border-radius: 30px;

 }

 /* <!-- ********************************************************************************** --> */

 .hero-section {
     display: flex;
     justify-content: space-between;
     background-color: #f9f9f9;
     border: 5px solid greenyellow;
     padding: 30px 150px;

 }

 .left {
     width: 557px;
 }

 .left>h4 {
     font-size: 60px;
     font-weight: 800;
     margin: 65px 0px;

 }

 .left>p {
     color: #9E9DA2;
     font-size: 24px;
     line-height: 28px;
     font-weight: 500;
     margin-bottom: 50px;
 }

 .hero-btn-container {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .btn-black {
     display: flex;
     align-items: center;
     width: fit-content;
     padding: 15px 50px;
     background-color: black;
     color: var(--white);
     border-radius: 5px;
 }

 .btn-black>img {
     width: 40px;
     height: 40px;
     margin-right: 10px;
 }

 .btn-black>div {
     font-size: 24px;
     line-height: 28px;
     font-weight: 600;
 }

 .map-img>img {
     margin-bottom: 20px;
     width: 500px;
     height: 500px;
 }

 /* <!-- ********************************************************************************** --> */

 #number-table {
     display: flex;
     justify-content: center;
     margin: auto;
     /* padding: 10px 10px 10px ; */
     border: 5px solid lime;
     border-radius: 20px;
 }

 button {
     border-radius: 20px;
     color: rgb(255, 255, 255);
     font-weight: 600;
     background-color: #000000;
 }

 input {
     border-radius: 20px;
     border: 5px #75BF7A solid;
 }

 /* <!-- ********************************************************************************** --> */

 h4 {
     align-items: center;
     text-align: center;
     font-size: 50px;
     font-weight: 800;
 }

 h4>span {
     font-size: 50px;
     font-weight: 800;
     color: #75BF7A;
 }

 .container-head>p {
     align-items: center;
     text-align: center;
 }

 .container {
     border: 5px solid red;
     background-color: #fff;
 }

 .dots>img {
     align-self: auto;
     margin-left: 30px;
 }


 /* <!-- ********************************************************************************** --> */