* {
  box-sizing: border-box;
}

body {
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 100%;
  margin: 10%;
}

.container {
  position: relative;
  width: 800px;
  max-width: 100%;
  min-height: 480px;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 14px 20px rgba(0, 0, 0, 0.22);
}

.sign-up,
.sign-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-up {
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.sign-in {
  width: 50%;
  z-index: 2;
}
form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

input {
  background-color: white;
  padding: 12px 15px;
  margin: 8px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

a {
  color: rgb(82, 75, 75);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  color: white;
  background: orangered;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid red;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80px ease-in;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
#signIn,
#signUp {
  background-color: transparent;
  border: 2px solid white;
}
.container.right-panel-active .sign-in {
  transform: translateX(100%);
}
.container.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  position: relative;
  color: white;
  background: gold;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, rgb(255, 89, 0), rgb(255, 23, 62));
  transform: translate(0);
  transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay {
  transform: translate(50%);
}
.overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translate(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-left {
  transform: translate(-20%);
}
.overlay-right {
  right: 0;
  transform: translate(0);
}

.container.right-panel-active .overlay-left {
  transform: translate(0);
}
.container.right-panel-active .overlay-right {
  transform: translate(20%);
}
