/* Global Styles */

* {
  box-sizing: border-box;
  margin: 2px;
  padding: 2px;
}

body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 10px;
  background-image: url("./image/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: #00000067;
}

/* Header Styles */

header {
  text-shadow: -1px 2px 20px yellow;
  background-color: #00000041;
  /* Use hex code for black */
  color: #ffffff; /* Use hex code for white */
  padding: 20px;
  text-align: center;
}

header h1 {
  text-shadow: -1px 2px 20px yellow;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Navigation Styles */

nav ul {
  color: white;
  background-color: rgba(139, 0, 0, 0.4);
  text-shadow: -1px 2px 20px yellow;
  font-size: 18px;
  border-radius: 30px;
  height: 40px;
  width: auto;
  list-style: none;
  margin: 2px;
  padding: 2px;
  display: flex;
  justify-content: center;
}

nav li {
  /* margin-right: 20px; */
  margin: auto;
  text-shadow: -1px 2px 20px yellow;
}

nav a {
  text-shadow: -1px 2px 20px yellow;
  color: white; /* Use hex code for dark gray */
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  text-shadow: -1px 2px 20px yellow;
  color: white; /* Use hex code for medium gray */
}

/* News Container Styles */

#news-container {
  color: #ffffff; /* Use hex code for white */
  /* background-color: #000000; Use hex code for black */
  border: none; /* Remove the border */ /* Add a subtle gradient */
  max-width: 1200px; /* Increase the max width to accommodate multiple cards */
  margin: 40px auto;
  padding: 30px;
  font-family: Arial, sans-serif; /* Use a clean sans-serif font */
  display: flex; /* Add flexbox display */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: space-between; /* Distribute cards evenly */
}

/* News Card Styles */

.card {
  /* box-shadow: -1px 2px 20px yellow; */
  /* Use hex code for white */
  color: #ffffff;
  background-color: #00000000;
  /* Use hex code for black */
  /* Use yellow for border */
  border-bottom: 1px solid yellow;
  margin: 20px; /* Add margin to create space between cards */
  padding: 20px;
  width: calc(45% - 40px); /* Set the width to 45% of the container */
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card .card-body {
  color: #ffffff; /* Use hex code for white */
  background-color: #00000062;
  /* Use hex code for black */
  padding: 20px;
}

.card .card-title {
  text-shadow: -1px 2px 20px yellow;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .card-text {
  font-size: 18px;
  color: #ffffff; /* Use hex code for white */
  background-color: #00000046; /* Use hex code for black */
}

.card .btn {
  box-shadow: -1px 2px 20px black;
  background-color: darkred;
  transition: background-color 0.5s ease;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.card .btn:hover {
  box-shadow: -1px 2px 20px black;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid darkred;
  color: darkred;
  opacity: 0.8;
}
