body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
    background: rgb(0, 212, 255);
    background: linear-gradient(306deg, rgba(0, 212, 255, 1) 0%, rgba(255, 159, 0, 1) 100%);
}

table {
    border: 2px solid blue;
    width: 600px;
}

th,
td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #c8ff00;
    border-top: 1px solid #ff0000;
    text-align: left;
}

tr.even {
    background-color: #00ff88;
}

tr:hover {
    background-color: #00e1ff;
}

td:hover {
    background-color: #c8ff00;
}

.money {
    text-align: right;
}

/* ******************************** LISTS, TABLES AND FORMS 338 ************************************** */



td {
    border: 1px solid #000000;
    padding: 15px;
}

table.one {
    empty-cells: show;
    /* in table one there are 4 bexes with border */
}

table.two {
    empty-cells: hide;
    /* in table two there are 3 bexes with border */
}

/* ******************************** LISTS, TABLES AND FORMS 339 ************************************** */

td {
    background-color: #0088dd;
    padding: 15px;
    border: 2px solid #000000;
}

table.three {
    border-spacing: 5px 15px;
}

table.four {
    border-collapse: collapse;
}

/* ******************************** LISTS, TABLES AND FORMS 340 ************************************** */



.input-with-icon {
    position: relative;
    display: inline-block;
}

.input-with-icon input[type="text"] {
    padding-left: 30px;
    /* Adjust as needed */
}

.input-with-icon .icon {
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
}

div {
    border: 2px solid yellow;
    align-items: center;
    padding: 5px;
}

/* ******************************** LISTS, TABLES AND FORMS 342 ************************************** */


input#submit {
    text-transform: capitalize;
    color: #444444;
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top,
            left bottom, from(#beeae9), to(#a8cfce));
    background:
        -moz-linear-gradient(top, #beeae9, #a8cfce);
    background:
        -o-linear-gradient(top, #beeae9, #a8cfce);
    background:
        -ms-linear-gradient(top, #beeae9, #a8cfce);
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

input#submit:hover {
    color: #333333;
    border: 2px solid #eeff00;
    border-top: 2px solid #000000;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
    background:
        -moz-linear-gradient(top, #a8cfce, #beeae9);
    background:
        -o-linear-gradient(top, #a8cfce, #beeae9);
    background:
        -ms-linear-gradient(top, #a8cfce, #beeae9);
}

/* ******************************** LISTS, TABLES AND FORMS 343 ************************************** */

fieldset {
    width: 350px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
}

button {
    text-align: right;
    background-color: #00e1ff;
    color: #000000;
    border-radius: 10px;
    padding: 10px 20px;
}

/* ******************************** LISTS, TABLES AND FORMS 345 ************************************** */