body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#auth_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin-top: 18px;
  box-shadow: -1px 2px 15px rgba(255, 255, 255, 0);
}

#auth_container h1 {
  color: rgba(255, 255, 255, 0.752);
  font-size: 40px;
  text-shadow: -1px 2px 15px white;
  text-align: center;
  margin-bottom: 20px;
}

#auth_container input {
  width: 280px;
  height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 50px;
}

#auth_container button {
  background-color: rgb(0, 0, 0);
  color: white;
  text-shadow: -2px 2px 10px black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#auth_container button:hover {
  background-color: orange;
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#auth_container button:active {
  background-color: orangered;
  transform: translateY(2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#dashboard {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-shadow: -1px 2px 15px white;

  width: 300px;
  height: 130px;
  margin: 50px auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#logout {
  background-color: rgb(0, 0, 0);
  color: white;
  text-shadow: -2px 2px 10px black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#logout:hover {
  background-color: orange;
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#logout:active {
  background-color: orangered;
  transform: translateY(2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.black {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 520px;
  background: linear-gradient(0deg, black, rgb(54, 54, 54));
}
.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(
    45deg,
    yellow,
    orangered,
    rgb(0, 255, 98),
    aqua,
    rgb(255, 83, 229),
    rgb(255, 0, 217),
    rgb(90, 0, 132),
    rgb(255, 64, 0),
    rgb(0, 140, 255)
  );
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 10px;
  z-index: -1;
  animation: animate 20s linear infinite;
}

.glow::after {
  filter: blur(20px);
  /* opacity: 0.99; */
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
