body {
  /* padding: 10px; */
  /* margin: 0; */
  background-image: url("./image/store-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-color: #f7f7f7;
  color: black;
}

nav {
  background-color: rgba(0, 0, 0, 0.058);
  color: white;
  text-shadow: -1px 2px 15px black;
  box-shadow: -1px 2px 15px black;
  font-weight: bold;
}

#phone {
  font-size: 18px;
  text-shadow: -1px 2px 15px yellow;
}
#logout {
  font-size: 18px;
  color: white;
  text-shadow: -1px 2px 15px yellow;
}

.black {
  position: relative;
  color: white;
  background: linear-gradient(0deg, rgb(54, 54, 54), black);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  padding: 5px;
  text-align: center;
}
.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(
    45deg,
    yellow,
    orangered,
    rgb(0, 255, 98),
    aqua,
    rgb(255, 83, 229),
    rgb(255, 0, 217),
    rgb(90, 0, 132),
    rgb(255, 64, 0),
    rgb(0, 140, 255)
  );
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 20px;
  z-index: -1;
  animation: animate 20s linear infinite;
}

.glow::after {
  filter: blur(20px);
  /* opacity: 0.99; */
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

h1 {
  color: #f7f7f7;
  font-size: 40px;
  font-weight: bold;
  box-shadow: -1px 2px 15px black;
  text-shadow: -1px 2px 15px yellow;
  width: 250px;
  padding: 5px;
  margin: 5px;
}
